RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteCond %{REQUEST_URI} !^/img/[NC]
RewriteCond %{REQUEST_URI} !^/css/[NC]
RewriteCond %{REQUEST_URI} !^/js/[NC]
RewriteCond %{REQUEST_URI} !^xdebug [NC]
RewriteCond %{REQUEST_URI} !^index.php [NC]
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]